h1 {
    color: dimgray;
}

img {
    text-transform: uppercase;
    height: 40%;
    width: 40%;
}

h2 {
    opacity: 0.5; 
    color: rgb(105, 17, 145)
}

li {
    background-color: #4682b4;
    opacity: 0.7; 
    color: rgb(17, 145, 39)
}

body {
    margin: 10px;
background-color: bisque;
}

.love {

    color: blue;
    font-size: 30px;

}
.love:hover

.nanana {
    color: aqua;
}

.oool {
    color: darkseagreen;
    font-size: 25px;
}

.bsd {
    color: red; 
    background-color: 188997;
    margin-bottom: 200px;

}